<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HumanResourceManagement2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SystemSetForgaServlet</display-name>
    <servlet-name>SystemSetForgaServlet</servlet-name>
    <servlet-class>web.SystemSetForgaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemSetForgaServlet</servlet-name>
    <url-pattern>/SystemSetForgaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemSetSorgaServlet</display-name>
    <servlet-name>SystemSetSorgaServlet</servlet-name>
    <servlet-class>web.SystemSetSorgaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemSetSorgaServlet</servlet-name>
    <url-pattern>/SystemSetSorgaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSelectionServlet</display-name>
    <servlet-name>GetSelectionServlet</servlet-name>
    <servlet-class>web.GetSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSelectionServlet</servlet-name>
    <url-pattern>/GetSelectionServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>util.CharsetFilter</filter-class>
    <init-param>
      <param-name>charsetEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>enabled</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>SystemSetTorgaServlet</display-name>
    <servlet-name>SystemSetTorgaServlet</servlet-name>
    <servlet-class>web.SystemSetTorgaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemSetTorgaServlet</servlet-name>
    <url-pattern>/SystemSetTorgaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemSetPtServlet</display-name>
    <servlet-name>SystemSetPtServlet</servlet-name>
    <servlet-class>web.SystemSetPtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemSetPtServlet</servlet-name>
    <url-pattern>/SystemSetPtServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemSetPServlet</display-name>
    <servlet-name>SystemSetPServlet</servlet-name>
    <servlet-class>web.SystemSetPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemSetPServlet</servlet-name>
    <url-pattern>/SystemSetPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemSetPmServlet</display-name>
    <servlet-name>SystemSetPmServlet</servlet-name>
    <servlet-class>web.SystemSetPmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemSetPmServlet</servlet-name>
    <url-pattern>/SystemSetPmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemSetRoleServlet</display-name>
    <servlet-name>SystemSetRoleServlet</servlet-name>
    <servlet-class>web.SystemSetRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemSetRoleServlet</servlet-name>
    <url-pattern>/SystemSetRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemSetRolePmServlet</display-name>
    <servlet-name>SystemSetRolePmServlet</servlet-name>
    <servlet-class>web.SystemSetRolePmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemSetRolePmServlet</servlet-name>
    <url-pattern>/SystemSetRolePmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordRegisterServlet</display-name>
    <servlet-name>RecordRegisterServlet</servlet-name>
    <servlet-class>web.RecordRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordRegisterServlet</servlet-name>
    <url-pattern>/RecordRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordReviewServlet</display-name>
    <servlet-name>RecordReviewServlet</servlet-name>
    <servlet-class>web.RecordReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordReviewServlet</servlet-name>
    <url-pattern>/RecordReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HasReviewServlet</display-name>
    <servlet-name>HasReviewServlet</servlet-name>
    <servlet-class>web.HasReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HasReviewServlet</servlet-name>
    <url-pattern>/HasReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HasReviewJDBC</display-name>
    <servlet-name>HasReviewJDBC</servlet-name>
    <servlet-class>jdbc.HasReviewJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HasReviewJDBC</servlet-name>
    <url-pattern>/HasReviewJDBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordSearchServlet</display-name>
    <servlet-name>RecordSearchServlet</servlet-name>
    <servlet-class>web.RecordSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordSearchServlet</servlet-name>
    <url-pattern>/RecordSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordDeleteServlet</display-name>
    <servlet-name>RecordDeleteServlet</servlet-name>
    <servlet-class>web.RecordDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordDeleteServlet</servlet-name>
    <url-pattern>/RecordDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemSetWpServlet</display-name>
    <servlet-name>SystemSetWpServlet</servlet-name>
    <servlet-class>web.SystemSetWpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemSetWpServlet</servlet-name>
    <url-pattern>/SystemSetWpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wageStanderRegisterServlet</display-name>
    <servlet-name>wageStanderRegisterServlet</servlet-name>
    <servlet-class>web.wageStanderRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wageStanderRegisterServlet</servlet-name>
    <url-pattern>/wageStanderRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WageRegisterServlet</display-name>
    <servlet-name>WageRegisterServlet</servlet-name>
    <servlet-class>web.WageRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WageRegisterServlet</servlet-name>
    <url-pattern>/WageRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WageRegisterJDBC</display-name>
    <servlet-name>WageRegisterJDBC</servlet-name>
    <servlet-class>jdbc.WageRegisterJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WageRegisterJDBC</servlet-name>
    <url-pattern>/WageRegisterJDBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wageStanderReviewServlet</display-name>
    <servlet-name>wageStanderReviewServlet</servlet-name>
    <servlet-class>web.wageStanderReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wageStanderReviewServlet</servlet-name>
    <url-pattern>/wageStanderReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WageStanderReviewPassServlet</display-name>
    <servlet-name>WageStanderReviewPassServlet</servlet-name>
    <servlet-class>web.WageStanderReviewPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WageStanderReviewPassServlet</servlet-name>
    <url-pattern>/WageStanderReviewPassServlet</url-pattern>
  </servlet-mapping>
</web-app>